.nav li{
	margin-right:5px;
	border: 2px solid;
	padding: 2px 2px 2px 2px;
}
.logo{
	float:left;
	margin-top:25px;
}
.user{
	float:right;
	margin-top:-45px;
}
.user img{
	width:70px;
	height:70px;
}
.navig{
	padding-top:20px;
	margin-left:38%;

}
header{
	border: 2px solid;
	padding:5px 5px 30px 5px;
}
.one{
	margin-top: 20%;
	margin-left: 38%;
}
.container{
	min-height:270px;
}
.autorizerow{
	margin-top:20%;
}